#===================================
Vagrantfile
approcketseat/
android-react-native/
.vscode
npm-debug.log

#app1
app1/__tests__/
app1/.babelrc
app1/.buckconfig
app1/.flowconfig
app1/.gitattributes
app1/npm-debug.log
app1/.watchmanconfig
app1/android/
app1/ios/
app1/app.json
app1/node_modules

#app2
app2/__tests__/
app2/.babelrc
app2/.buckconfig
app2/.flowconfig
app2/.gitattributes
app2/npm-debug.log
app2/.watchmanconfig
app2/android/
app2/ios/
app2/app.json
app2/node_modules

#app3
app3/__tests__/
app3/.babelrc
app3/.buckconfig
app3/.flowconfig
app3/.gitattributes
app3/npm-debug.log
app3/.watchmanconfig
app3/android/
app3/ios/
app3/app.json
app3/node_modules

#app4
app4/__tests__/
app4/.babelrc
app4/.buckconfig
app4/.flowconfig
app4/.gitattributes
app4/npm-debug.log
app4/.watchmanconfig
app4/android/
app4/ios/
app4/app.json
app4/node_modules

#app5
app5/__tests__/
app5/.babelrc
app5/.buckconfig
app5/.flowconfig
app5/.gitattributes
app5/npm-debug.log
app5/.watchmanconfig
app5/android/
app5/ios/
app5/app.json
app5/node_modules

#app6
app6/__tests__/
app6/.babelrc
app6/.buckconfig
app6/.flowconfig
app6/.gitattributes
app6/npm-debug.log
app6/.watchmanconfig
app6/android/
app6/ios/
app6/app.json
app6/node_modules

#app7
app7/__tests__/
app7/.babelrc
app7/.buckconfig
app7/.flowconfig
app7/.gitattributes
app7/npm-debug.log
app7/.watchmanconfig
app7/android/
app7/ios/
app7/app.json
app7/node_modules

#app8
app8/__tests__/
app8/.babelrc
app8/.buckconfig
app8/.flowconfig
app8/.gitattributes
app8/npm-debug.log
app8/.watchmanconfig
app8/android/
app8/ios/
app8/app.json
app8/node_modules

#app9
app9/__tests__/
app9/.babelrc
app9/.buckconfig
app9/.flowconfig
app9/.gitattributes
app9/npm-debug.log
app9/.watchmanconfig
app9/android/
app9/ios/
app9/app.json
app9/node_modules

#===================================

