#===================================
Vagrantfile
approcketseat/
android-react-native/

#app1
app1/__tests__/
app1/.babelrc
app1/.buckconfig
app1/.flowconfig
app1/.gitattributes
app1/npm-debug.log
app1/.watchmanconfig
app1/android/
app1/ios/
app1/app.json
app1/node_modules

#app2
app2/__tests__/
app2/.babelrc
app2/.buckconfig
app2/.flowconfig
app2/.gitattributes
app2/npm-debug.log
app2/.watchmanconfig
app2/android/
app2/ios/
app2/app.json
app2/node_modules

#app3

#===================================

